@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0e0c0d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0e0c0d;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  background-image: radial-gradient(49.63% 57.02% at 58.99% -7.2%, rgba(255, 139, 125, 0.1) 39.4%, rgba(0, 0, 0, 0) 100%);
  margin: 0;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}